<div class="contents row">
  <div class="container">
    <h3>新規登録</h3>
    <%= form_with(model: @gift, local: true) do |f| %>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"status-select"}) %>
      <%= f.text_field :name, placeholder: "ギフトの名称" %>
      <%= f.file_field :image %>
      <%= f.text_field :partner, placeholder: "相手未入力" %>
      <%= f.date_select :event_date, use_month_numbers: true %>
      <%= f.text_field :event, placeholder: "イベント未入力" %>
      <%= f.text_area :memo, placeholder: "メモ" %>
      <%= f.submit "登録" %>
    <% end %>
  </div>
</div>