<div class="contents row">
  <p>Gift Idea詳細</p>
    <div class="content_post">
      <%= image_tag @interest.image.variant(resize: '300x300'), class: 'interest-image' if @interest.image.attached? %>
      <div><%= @interest.name %></div>
      <div><%= @interest.memo %></div>
    </div>
    <%= link_to '編集', edit_interest_path(@interest.id) %>
    <%= link_to '削除', interest_path(@interest.id), method: :delete, data: { confirm: 'この記録を削除しますか？' } %>
</div>