<!DOCTYPE html>
<html>
  <head>
    <title>GiftLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="header">
      <div class="row">
        <h1 class="grid nav"><a href="/">GiftLife</a></h1>
        <% if user_signed_in? && current_page?(gifts_path)%>
          <div class="grid">
            <%= link_to "登録", new_gift_path, class: "nav" %>
            <%= link_to "アイデア", interests_path, class: "nav" %>            
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav" %>
          </div>

        <% elsif user_signed_in? && current_page?(interests_path)%>
          <div class="grid">
            <%= link_to "登録", new_interest_path, class: "nav" %>
            <%= link_to "ギフト記録", gifts_path, class: "nav" %>            
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav" %>
          </div>

        <% elsif user_signed_in? %>
          <div class="grid">
            <%= link_to "ギフト記録", gifts_path, class: "nav" %>
            <%= link_to "アイデア", interests_path, class: "nav" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav" %>
          </div>

        <% else %>
          <div class="grid">
            <%= link_to "ログイン", new_user_session_path, class: "nav" %>
            <%= link_to "新規登録", new_user_registration_path, class: "nav" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright GiftLife 2021.
      </p>
    </footer>
  </body>
</html>
