<!DOCTYPE html>
<html>
  <head>
    <title>GiftLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">GiftLife</a></h1>
        <% if user_signed_in? && current_page?(gifts_path)%>
          <div class="user_nav grid-6">
            <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
            <%= link_to "ç™»éŒ²", new_gift_path, class: "post" %>
            <%= link_to "ðŸŒˆ" %>            
          </div>

        <% elsif user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
            <%= link_to "ã‚®ãƒ•ãƒˆ", gifts_path, class: "post" %>
            <%= link_to "ðŸŒˆ" %>
          </div>

        <% else %>
          <div class="grid-6">
            <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "post" %>
            <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright GiftLife 2021.
      </p>
    </footer>
  </body>
</html>
